Repository inovex/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

v0.5.2
  CHANGELOG.md
  package.json
Due: none

fix(ino-datepicker): replace ino-type with newer ino-date-format attribute in readme
  src/components/ino-datepicker/readme.md
Due: prettier --write

fix(react): export InoInputFile, was missing and export InoListDivider as InoListDivider instead exporting it as InoDivider
  react/src/components/index.ts
Due: none

feat(*): add react examples to every component readme
  src/components/ino-button/readme.md
  src/components/ino-card/readme.md
  src/components/ino-checkbox/readme.md
  src/components/ino-chip-set/readme.md
  src/components/ino-chip/readme.md
  src/components/ino-datepicker/readme.md
  src/components/ino-fab-set/readme.md
  src/components/ino-fab/readme.md
  src/components/ino-form-row/readme.md
  src/components/ino-icon-button/readme.md
  src/components/ino-icon/readme.md
  src/components/ino-img/readme.md
  src/components/ino-input-file/readme.md
  src/components/ino-input/readme.md
  src/components/ino-list-divider/readme.md
  src/components/ino-list-item/readme.md
  src/components/ino-list/readme.md
  src/components/ino-menu/readme.md
  src/components/ino-popover/readme.md
  src/components/ino-radio/readme.md
  src/components/ino-range/readme.md
  src/components/ino-select/readme.md
  src/components/ino-snackbar/readme.md
  src/components/ino-spinner/readme.md
  src/components/ino-tab-bar/readme.md
  src/components/ino-tab/readme.md
  src/components/ino-textarea/readme.md
  src/components/ino-tooltip/readme.md
Due: prettier --write

chore(react): upgrade react wrapper to 0.0.5
  CHANGELOG.md
  package.json
  react/README.md
  react/package.json
  react/src/components/createComponent.tsx
  react/src/components/index.ts
  react/src/components/types.ts
  react/src/components/utils.ts
  react/src/index.ts
  react/src/register.ts
  react/src/types.ts
  react/tsconfig.json
  react/yarn.lock
  scripts/postbuild.sh
Due: none

fix(postbuild): fix wrong path
  scripts/postbuild.sh
Due: none

chore(.yarnrc): add version-tag-prefix
  .yarnrc
Due: none

v0.5.4
  CHANGELOG.md
  package.json
Due: none

fix(react): add Fragment wrapper around children
  react/src/components/createComponent.tsx
Due: none

v0.5.5
  CHANGELOG.md
  package.json
Due: none

chore(*): inline webpack plugin
  package.json
  webpack-plugin.js
Due: none

v0.5.6
  CHANGELOG.md
  package.json
Due: none

fix(ino-input): DOM-Exception error when using email-type
  src/components/ino-input/ino-input.tsx
  src/stories/ino-input/ino-input.stories.js
Due: prettier --write, tslint --fix

update tsconfig
  react/tsconfig.json
Due: none

fix: update artifactory pipeline
  .gitlab-ci.yml
  package.json
Due: none

fix: add gitleaks config and whitelist specific js file
  .gitlab-ci.yml
  .gitleaks.toml
Due: none

fix: remove gitleaks toml from check
  .gitleaks.toml
Due: none

fix: double curl typo
  .gitlab-ci.yml
Due: none

fix: wrong url
  .gitlab-ci.yml
Due: none

chore(*): fix yarn start command
  package.json
Due: none

feat(mdc-components): update to version 3.0.0
  package.json
  src/components.d.ts
  src/components/ino-button/ino-button.tsx
  src/components/ino-chip/ino-chip.tsx
  src/components/ino-fab/ino-fab.tsx
  src/components/ino-icon/ino-icon.scss
  src/components/ino-icon/ino-icon.tsx
  src/components/ino-input/ino-input.scss
  src/components/ino-input/ino-input.tsx
  src/components/ino-input/readme.md
  src/components/ino-list-item/ino-list-item.tsx
  src/components/ino-list-item/readme.md
  src/components/ino-menu/ino-menu.tsx
  src/components/ino-select/ino-select.tsx
  src/components/ino-snackbar/ino-snackbar.scss
  src/components/ino-snackbar/ino-snackbar.tsx
  src/components/ino-snackbar/readme.md
  src/components/ino-tab-bar/mdc-facade.ts
  src/components/ino-textarea/ino-textarea.tsx
  src/components/ino-textarea/readme.md
  src/stories/ino-input/ino-input.scss
  src/stories/ino-input/ino-input.stories.js
  src/stories/ino-list/ino-list.stories.js
  src/stories/ino-snackbar/ino-snackbar.stories.js
  src/stories/ino-textarea/ino-textarea.scss
  yarn.lock
Due: prettier --write, tslint --fix

v0.6.0
  CHANGELOG.md
  package.json
Due: none

fix(ino-snackbar): always show snackbar to avoid internal state
  src/components/ino-snackbar/ino-snackbar.tsx
  src/components/ino-snackbar/readme.md
  src/stories/ino-snackbar/ino-snackbar.stories.js
Due: prettier --write, tslint --fix

chore(dev): add yalc for integration in james
  package.json
  yarn.lock
Due: none

v0.6.1
  CHANGELOG.md
  package.json
Due: none

chore(dev): remove yalc from production code
  package.json
Due: none

v0.6.2
  CHANGELOG.md
  package.json
Due: none

chore(ino-button): use contrast color as ink for filled buttons, change contrast color of secondary to white
  src/components/ino-button/ino-button.scss
  src/components/styles/colors.scss
  src/components/styles/mdc.customize.scss
  src/stories/ino-button/ino-button.stories.js
Due: prettier --write

test(ino-textarea): add tests
  src/components/ino-textarea/ino-textarea.e2e.ts
  src/util/test-utils.ts
Due: prettier --write, tslint --fix

fix(ino-input): add mdc-disabled class dynamically
  src/components/ino-input/ino-input.tsx
Due: prettier --write, tslint --fix

v0.6.3
  CHANGELOG.md
  package.json
Due: none

feat(ino-input): add ino-blur und ino-focus events
  src/components.d.ts
  src/components/ino-input/ino-input.e2e.ts
  src/components/ino-input/ino-input.tsx
  src/components/ino-input/readme.md
Due: prettier --write, tslint --fix

add new label component, use label component in input, textfield and select, remove specialized test
  src/components.d.ts
  src/components/ino-input/ino-input.tsx
  src/components/ino-label/ino-label.scss
  src/components/ino-label/ino-label.tsx
  src/components/ino-label/readme.md
  src/components/ino-select/ino-select.tsx
  src/components/ino-textarea/ino-textarea.e2e.ts
  src/components/ino-textarea/ino-textarea.tsx
Due: prettier --write, tslint --fix

change color of ino-radio to primary color
  src/components/ino-radio/ino-radio.scss
Due: prettier --write

style(ino-checkbox): change color to primary
  src/components/ino-checkbox/ino-checkbox.scss
Due: prettier --write

fix(ino-fab): wrong rendering condition for ino-tooltip within ino-fab
  package.json
  src/components/ino-fab/ino-fab.tsx
  src/components/ino-tooltip/ino-tooltip.tsx
  yarn.lock
Due: prettier --write, tslint --fix

style(ino-radio): change color to primary
  src/components/ino-radio/ino-radio.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{md,scss})
  tslint --fix: any of: src/**/*.{ts,tsx}
