Repository inovex/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": ["prettier --write", "tslint --fix", "git add"],
  "src/**/*.{md,scss}": ["prettier --write", "git add"]
}

add new label component, use label component in input, textfield and select, remove specialized test
  src/components.d.ts
  src/components/ino-datepicker/ino-datepicker.scss
  src/components/ino-datepicker/ino-datepicker.tsx
  src/components/ino-datepicker/readme.md
  src/components/ino-input/ino-input.scss
  src/components/ino-input/ino-input.tsx
  src/components/ino-label/ino-label.scss
  src/components/ino-label/ino-label.tsx
  src/components/ino-label/readme.md
  src/components/ino-select/ino-select.scss
  src/components/ino-select/ino-select.tsx
  src/components/ino-textarea/ino-textarea.tsx
Due: prettier --write, tslint --fix

feat(ino-chip): new default color
  src/components/ino-chip/ino-chip.e2e.ts
  src/components/ino-chip/ino-chip.scss
  src/components/ino-chip/ino-chip.tsx
  src/components/ino-chip/readme.md
  src/stories/ino-chip-set/ino-chip-set.stories.js
Due: prettier --write, tslint --fix

v0.6.4
  CHANGELOG.md
  package.json
Due: none

chore(*): fix misleading artifactory dependency
  yarn.lock
Due: none

chore(*): ignore auto-generated files from prettier
  .lintstagedrc
Due: none

chore(*): commit auto-generated stencil markdown files
  src/components/ino-button/readme.md
  src/components/ino-card/readme.md
  src/components/ino-checkbox/readme.md
  src/components/ino-chip-set/readme.md
  src/components/ino-chip/readme.md
  src/components/ino-datepicker/readme.md
  src/components/ino-fab-set/readme.md
  src/components/ino-fab/readme.md
  src/components/ino-form-row/readme.md
  src/components/ino-icon-button/readme.md
  src/components/ino-icon/readme.md
  src/components/ino-img/readme.md
  src/components/ino-input-file/readme.md
  src/components/ino-input/readme.md
  src/components/ino-label/readme.md
  src/components/ino-list-divider/readme.md
  src/components/ino-list-item/readme.md
  src/components/ino-list/readme.md
  src/components/ino-menu/readme.md
  src/components/ino-popover/readme.md
  src/components/ino-radio/readme.md
  src/components/ino-range/readme.md
  src/components/ino-select/readme.md
  src/components/ino-snackbar/readme.md
  src/components/ino-spinner/readme.md
  src/components/ino-tab-bar/readme.md
  src/components/ino-tab/readme.md
  src/components/ino-textarea/readme.md
  src/components/ino-tooltip/readme.md
Due: prettier --write

chore(*): add missing react yarn.lock
  react/yarn.lock
Due: none

v0.6.5
  CHANGELOG.md
  package.json
Due: none

chore(*): exclude components.d.ts from prettier
  .lintstagedrc
  src/components.d.ts
Due: prettier --write, tslint --fix

fix(ino-chip-set): add timeout for ino-chip-set-test
  src/components/ino-chip-set/ino-chip-set.e2e.ts
Due: prettier --write, tslint --fix

refactor(ino-label): move label styles into its component
  src/components.d.ts
  src/components/ino-input/ino-input.scss
  src/components/ino-input/ino-input.tsx
  src/components/ino-label/ino-label.scss
  src/components/ino-label/ino-label.tsx
  src/components/ino-label/readme.md
  src/components/ino-select/ino-select.scss
  src/components/ino-select/ino-select.tsx
  src/components/ino-textarea/ino-textarea.tsx
Due: prettier --write, tslint --fix

fix(ino-datepicker): keep input focus as long as picker is opened
  src/components/ino-datepicker/ino-datepicker.tsx
Due: prettier --write, tslint --fix

v0.6.6
  CHANGELOG.md
  package.json
Due: none

feat(ino-control-item): add component
  react/src/components/index.ts
  src/components.d.ts
  src/components/ino-checkbox/ino-checkbox.tsx
  src/components/ino-chip-set/ino-chip-set.e2e.ts
  src/components/ino-control-item/ino-control-item.e2e.ts
  src/components/ino-control-item/ino-control-item.scss
  src/components/ino-control-item/ino-control-item.tsx
  src/components/ino-control-item/readme.md
  src/components/ino-list-item/readme.md
  src/components/ino-list/readme.md
  src/components/ino-radio/ino-radio.e2e.ts
  src/components/ino-radio/ino-radio.scss
  src/components/ino-radio/ino-radio.tsx
  src/components/ino-radio/readme.md
  src/stories/ino-list/ino-list.stories.js
  src/stories/ino-radio/ino-radio.stories.js
  src/util/component-utils.ts
Due: prettier --write, tslint --fix

fix(ino-textarea): add black border on hover
  src/components/ino-textarea/ino-textarea.scss
Due: prettier --write

chore(gitlab-ci): security checks only on master
  .gitlab-ci.yml
Due: none

feat(ino-input): add datalist
  src/components.d.ts
  src/components/ino-input/ino-input.tsx
  src/components/ino-input/readme.md
  src/stories/ino-input/ino-input.stories.js
Due: prettier --write, tslint --fix

fix(ino-select): prevent change of inoPrependDefault to avoid layout problems
  src/components.d.ts
  src/components/ino-select/ino-select.tsx
  src/components/ino-select/readme.md
Due: prettier --write, tslint --fix

style(ino-radio/checkbox): remove old inoId from README's
  src/components.d.ts
  src/components/ino-checkbox/readme.md
  src/components/ino-radio/readme.md
Due: prettier --write, tslint --fix

v0.7.0
  CHANGELOG.md
  package.json
Due: none

feat(ino-select): add prop to enable/disable prepended empty element
  src/components.d.ts
  src/components/ino-select/ino-select.tsx
  src/components/ino-select/readme.md
  src/stories/ino-select/ino-select.stories.js
Due: prettier --write, tslint --fix

v0.8.0
  CHANGELOG.md
  package.json
Due: none

change inoText to no longer required, rename slot of 'ino-text' to 'ino-center', add example in readme
  src/components.d.ts
  src/components/ino-list-item/ino-list-item.tsx
  src/components/ino-list-item/readme.md
  src/stories/ino-list/ino-list.stories.js
Due: prettier --write, tslint --fix

doc(ino-select): ino-disable-default knob & example in readme
  src/components/ino-select/readme.md
  src/stories/ino-select/ino-select.stories.js
Due: prettier --write

chore(node): upgrade packages for v12
  .gitlab-ci.yml
  .nvmrc
  package.json
  yarn.lock
Due: none

chore(storybook): fix rendering bug
  package.json
  yarn.lock
Due: none

feat(ino-datepicker): inovex design
  src/components/ino-datepicker/ino-datepicker.scss
  src/components/ino-datepicker/ino-datepicker.tsx
Due: prettier --write, tslint --fix

fix(ino-input): autofocus
  src/components/ino-input/ino-input.e2e.ts
  src/components/ino-input/ino-input.tsx
Due: prettier --write, tslint --fix

refactor(card): enable shadow dom
  src/components/ino-card/ino-card.e2e.ts
  src/components/ino-card/ino-card.scss
  src/components/ino-card/ino-card.tsx
Due: prettier --write, tslint --fix

fix(ino-datepicker): fix overlapping label
  src/components/ino-datepicker/ino-datepicker.scss
  src/components/ino-datepicker/ino-datepicker.tsx
  src/components/ino-input/ino-input.tsx
Due: prettier --write, tslint --fix

feat(ino-input): add 'any' as step option
  src/components.d.ts
  src/components/ino-input/ino-input.tsx
  src/components/ino-input/readme.md
  src/stories/ino-input/ino-input.stories.js
Due: prettier --write, tslint --fix

fix(ino-tooltip): fix misplacement
  src/components/ino-tooltip/ino-tooltip.scss
  src/components/ino-tooltip/ino-tooltip.tsx
Due: prettier --write, tslint --fix

fix(ino-datepicker): remove internal static option
  src/components/ino-datepicker/ino-datepicker.tsx
Due: prettier --write, tslint --fix

v0.9.0
  CHANGELOG.md
  package.json
Due: none

add slots for custom icons, remove ino-icon from ino-input, rename datalist slot, add ino-icon-leading prop, add new icon examples, adjust story
  src/components.d.ts
  src/components/ino-datepicker/readme.md
  src/components/ino-icon/readme.md
  src/components/ino-input/ino-input.scss
  src/components/ino-input/ino-input.tsx
  src/components/ino-input/readme.md
  src/stories/ino-input/ino-input.stories.js
Due: prettier --write, tslint --fix

feat(angular): inital project
  angular/.editorconfig
  angular/.gitignore
  angular/README.MD
  angular/angular.json
  angular/elements/README.md
  angular/elements/karma.conf.js
  angular/elements/ng-package.json
  angular/elements/package.json
  angular/elements/src/directives/control-value-accesors/boolean-value-accessor.directive.ts
  angular/elements/src/directives/control-value-accesors/fs-value-accessor.directive.ts
  angular/elements/src/directives/control-value-accesors/ino-radio-value-accessor.directive.ts
  angular/elements/src/directives/control-value-accesors/text-value-accessor.directive.ts
  angular/elements/src/directives/control-value-accesors/value-accessor.directive.ts
  angular/elements/src/directives/proxies-list.ts
  angular/elements/src/directives/proxies-utils.ts
  angular/elements/src/directives/proxies.ts
  angular/elements/src/ino-elements.module.ts
  angular/elements/src/public-api.ts
  angular/elements/src/test.ts
  angular/elements/tsconfig.lib.json
  angular/elements/tsconfig.spec.json
  angular/elements/tslint.json
  angular/package.json
  angular/tsconfig.json
  angular/tslint.json
  angular/yarn.lock
  scripts/postbuild.sh
  stencil.config.ts
Due: none

fix(*): reset native input properly
  src/components/ino-checkbox/ino-checkbox.tsx
  src/components/ino-input/ino-input.tsx
  src/components/ino-radio/ino-radio.tsx
  src/components/ino-range/ino-range.tsx
  src/components/ino-textarea/ino-textarea.tsx
Due: prettier --write, tslint --fix
