Repository inovex/elements: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

chore(docs): add workflow for integrating contributing projects
  src/stories/docs/architecture.md
  src/stories/docs/index.stories.js
  src/stories/docs/setup-angular.md
  src/stories/docs/setup-react.md
  src/stories/docs/setup-vue.md
  src/stories/docs/use-and-contribute.md
Due: prettier --write

feat(ino-menu): controlled component
  src/components.d.ts
  src/components/ino-menu/MDCCustomMenu.js
  src/components/ino-menu/ino-menu.tsx
  src/components/ino-menu/readme.md
  src/stories/ino-menu/ino-menu.stories.js
Due: prettier --write, tslint --fix

feat(react): add react wrapper
  .gitignore
  .gitlab-ci.yml
  .nvmrc
  package.json
  react/.npmrc
  react/README.md
  react/package.json
  react/src/components/createComponent.tsx
  react/src/components/index.ts
  react/src/components/types.ts
  react/src/components/utils.ts
  react/src/index.ts
  react/src/inovexCustom.ts
  react/src/register.ts
  react/src/types.ts
  react/test/.gitkeep
  react/tsconfig.json
  react/tslint.json
  react/yarn.lock
  scripts/postbuild.sh
  scripts/postinstall-hints.js
  src/stories/docs/setup-react.md
  tsconfig.json
  yarn.lock
Due: prettier --write

add security stage
  .gitlab-ci.yml
  gitleaks.toml
Due: none

add trufflehog test
  .huskyrc
Due: none

test
  CHANGELOG.md
Due: none

fix
  .huskyrc
  CHANGELOG.md
Due: none

add path
  .gitlab-ci.yml
  .huskyrc
Due: none

remove hook
  .huskyrc
Due: none

the flatpickr itself is now updated when value changes, change open to toggle function when icon clicked
  src/components/ino-datepicker/ino-datepicker.tsx
Due: prettier --write, tslint --fix

this shoould trigger
  CHANGELOG.md
Due: none

blub
  CHANGELOG.md
Due: none

remove
  CHANGELOG.md
Due: none

add trufflehog back
  .huskyrc
Due: none

blubb
  .huskyrc
Due: none

this should fail
  .huskyrc
Due: none

with repo path
  .gitlab-ci.yml
Due: none

check
  .huskyrc
Due: none

fix(ino-datepicker): fix too many tabs to skip datepicker
  src/components/ino-input/ino-input.tsx
Due: prettier --write, tslint --fix

add all contributors
  package.json
Due: none

add missing contributor
  package.json
Due: none

v0.5.0
  CHANGELOG.md
  package.json
Due: none

fix(storybook): remove tsx for syntax highlight
  src/stories/docs/setup-react.md
Due: prettier --write

chore(gitlab-ci): add manual deployment job for storybook only
  .gitlab-ci.yml
Due: none

input event is now being stopped, eventhandler already set in render method
  src/components/ino-textarea/ino-textarea.tsx
Due: prettier --write, tslint --fix

add click event listener to prevent bubbling of the event if button disabled
  src/components/ino-button/ino-button.tsx
Due: prettier --write, tslint --fix

remove unused gitleaks.toml file just use basic
  .gitlab-ci.yml
  gitleaks.toml
Due: none

fix(postinstall): remove postinstall from released package
  package.json
  scripts/postinstall-hints.js
Due: none

remove bfg cleanup
  ..bfg-report/2019-03-26/16-36-03/cache-stats.txt
  ..bfg-report/2019-03-26/16-36-03/changed-files.txt
  ..bfg-report/2019-03-26/16-36-03/object-id-map.old-new.txt
  blub.txt
Due: none

v0.5.1
  CHANGELOG.md
  package.json
Due: none

test(e2e): add tests for ino-card, ino-button, ino-checkbox, ino-chip-set, ino-chip
  package.json
  src/components/ino-button/ino-button.e2e.ts
  src/components/ino-card/ino-card.e2e.ts
  src/components/ino-checkbox/ino-checkbox.e2e.ts
  src/components/ino-chip-set/ino-chip-set.e2e.ts
  src/components/ino-chip/ino-chip.e2e.ts
  src/util/e2etests-setup.ts
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

fix value not correctly being set as default value
  src/components/ino-select/ino-select.tsx
Due: prettier --write, tslint --fix

fix(ino-datepicker): datepicker will now open on input click
  src/components/ino-datepicker/ino-datepicker.tsx
Due: prettier --write, tslint --fix

chore(changelog): cleanup changelog
  CHANGELOG.md
  package.json
Due: none

chore(package.json): fix gitlab url in changelog properly
  package.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{md,scss})
  tslint --fix: any of: src/**/*.{ts,tsx}
